.card
    background-color: var(--background__card)
    border-radius: 8px
    margin-top: 30px
    padding: 20px 26px
    display: flex
    justify-content: space-between
    padding: 20px 40px
    max-width: 720px
    
    .card__info
        width: 76%
        display: flex
        flex-direction: column
        margin-left: 20px

