@use './_Font'    

.content
    h1
        color: var(--font__primary)
        margin-bottom: 4px
        height: 26px

    p, h2
        font:
            size: 0.8rem
            weight: 400
    
    h2
        color: var(--user)
    h2::before
        content: '@'

    p
        color: var(--font__secondary)

@media only screen and (max-width: 500px)

    .content
        margin-left: 36%
        padding: 20px 0 40px 0
        position: relative
        margin-bottom: 20px

        h1
            font-size: 1.2rem

        h2
            margin-bottom: 10px

        p:last-child
            position: absolute
            top: 120px
            left: -50%

@media only screen and (min-width:500px) and (max-width: 720px)

    .content
        margin-left: 32% 
        padding: 20px 0 20px 0

        h1
            font-size: 1.2rem

        p
            margin: 8px 0 8px 0

@media only screen and (min-width:720px)
    .content
        padding: 20px 0
        position: relative

        h1
            font-size: 1.6rem

        
        h2
            margin-bottom: 26px

        p:nth-child(3)
            position: absolute
            right: 0px
            top: 26px
