@use './_Font'    
    
.content
    padding: 20px 0
    position: relative

    h1
        color: var(--font__primary)
        font-size: 28px
        margin-bottom: 4px

    p, h2
        font:
            size: 14px
            weight: 400
    
    h2
        color: var(--user)
        margin-bottom: 26px

    h2::before
        content: '@'
        
    p
        color: var(--font__secondary)

    p:last-child
        position: absolute
        right: 0px
        top: 26px
    