@use './_Font'

.form
    background-color: #1F2A48
    border-radius: 8px
    margin: 0 auto
    padding: 10px 0px 10px 26px

    .form__lupa
        position: relative
        top: 8px
        margin-right: 10px
        fill: #255DA5
    .input, .button
        border: none
        color: white

    .input
        background-color: transparent
        outline: none
        width: 620px 

    .input::placeholder
        color: #A9B1C7

    .button
        background-color: #0583F2
        border-radius: 6px
        font-size: 0.9rem
        padding: 10px 18px
        position: relative
        top: -3px
        right: 10px